<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customers and their projects</title>
    <th:block th:replace="~{ commonhead :: commonhead}"></th:block>
</head>
<body>

<nav th:replace="~{ topbar :: topbar}"></nav>

<form th:action="@{/add_customer}" method="post" th:object="${newcustomer}">
    <input type="hidden" th:field="*{id}" />
    <label> NEW CUSTOMER
    </label>
    <input th:field="*{name}" />
    <input type="submit" value="SAVE" />
</form>

<table id="listtable" class="table">
    <tr>
        <th>PROJECT</th>
        <th>CUSTOMER</th>
    </tr>
    <th:block th:each="pr : ${projects}">
        <tr  th:each="u : ${pr.customers}">
            <td th:text="${pr.name}"></td>
            <td th:text="${u.name}"></td>
        </tr>
    </th:block>
    <form method="post">
        <label>project:</label>
        <select th:name="projectid">
            <option th:each="d : ${projects}" th:value="${d.id}"
                    th:text="${d.name}">
            </option>
        </select>
        <label>customer:</label>
        <select th:name="customerid">
            <option th:each="d : ${customers}" th:value="${d.id}"
                    th:text="${d.name}">
            </option>
        </select>
        <input type="submit" value = "ADD" formaction = "/add_customer_project" />
        <input type="submit" value = "DEL" formaction = "/del_customer_project" />
    </form>
</table>
</body>
</html>