<table id="filestable" th:fragment="filestable()">
  <tr>
    <th>NAME</th>
    <th>UPLOAD DATE</th>
  </tr>
  <tr th:each="fobj : ${files}">
    <td th:text="${fobj.name}"></td>
    <td itemtype="" th:text="${{fobj.uploadDateTime}}"></td>
<!--    <td th:text="${#dates.format(${fobj.uploadDateTime}, 'dd/MM/yyyy')}"></td>-->

    <td>
      <form th:action="@{/download_file}" method="get">
        <input type="hidden" th:name = "id" th:value="*{fobj.id}">
        <input type="submit" value = "DOWNLOAD" />
      </form>
    </td>
  </tr>

</table>