<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SERVICEDESK REQUEST</title>
  <th:block th:replace="~{ commonhead :: commonhead}"></th:block>
</head>
<body>

<nav th:replace="~{ topbar :: topbar}"></nav>

<div id="requestdiv">
  <h2 >REQUEST EDIT</h2>
    <div th:text="${readonly}==true ? ${'read-only mode'} : ${''}" style="color: red;"></div>


    <div style="border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: black;
            width: max-content;
            padding-bottom: 5px;
            margin-bottom: 15px">

        <button class = "ui-button" id="taketoworkbutton" onclick="taketowork()"
                th:if="${taketoworkbutton==true}"
                th:attr="disabled=${readonly}">  TAKE TO WORK </button>
        <input type="button" class = "ui-button" value = "SAVE"
               onclick='saveDocumentRequest()'
               th:if="${savebutton==true}"
               th:attr="disabled=${readonly}" />
        <input type="button" class = "ui-button" value = "FILES" onclick='openfiles()' />
        <input type="button" class = "ui-button" value = "BACK TO REQUESTS"
               onclick='location.href="requests"' />
    </div>

    <th:block th:replace="~{ errordiv :: errordiv}"> </th:block>

    <div class="documentgroup">
        <form id = "requestform" th:object="${requestobject}" action="/save_request" method="post">

            <div class="documentgroup" id="datenumber">
                <label>date:</label>
                <input id = "date" type="text" th:field="*{date}" placeholder="date"
                       th:attr="disabled=${readonly}"
                       th:readOnly="${fieldslist.contains('date')}" />
                <label>number:</label>
                <input id = "id" type="number" th:field="*{id}" placeholder="number"
                       th:attr="disabled=${readonly}"
                       th:readOnly="${fieldslist.contains('id')}"/>
                <input id = "version" type="hidden" th:field="*{version}" />
            </div>

            <div class="documentgroup">

                <th:block th:each="item : ${filtermapEntrySet}">
                <th:block th:replace=
   "~{ optionfieldconstructor :: optionfieldconstructor(${item.getKey()},${item.getKey() + 'id'},${item.getValue()}, ${valuesMap.get(item.getKey())})}">
                </th:block>
                </th:block>

            </div>

            <div id="contentdiv">
                <label class="textlabel">content:</label>
                <input id = "content" type="hidden" th:field="*{content}" placeholder="content"
                       th:attr="disabled=${readonly}"
                       th:readOnly="${fieldslist.contains('content')}"/>
                <textarea id = "contenttext"
                          th:text="*{content}"
                          th:attr="disabled=${readonly || fieldslist.contains('content')}"></textarea>

                <label class="textlabel">answer:</label>
                <input id="answer" type="hidden" th:field="*{answer}" placeholder="answer"
                       th:attr="disabled=${readonly}"
                       th:readOnly="${fieldslist.contains('answer')}"/>
                <textarea id = "answertext"
                          th:text="*{answer}"
                          th:attr="disabled=${readonly || fieldslist.contains('answer')}"></textarea>
            </div>
    
        </form>

    </div>

    <div class="documentgroup" id = "newmessagediv" style=" border-top-style: solid;
                                                            border-top-width: 2px;
                                                            padding-top: 3px;">
        <label class="textlabel">new message:</label>
        <textarea id = "newmessage" style=" width: inherit;" th:attr="disabled=${readonly}"></textarea>
        <button class="ui-button-small" id="filterbutton" onclick="sendmessage()" th:attr="disabled=${readonly}">POST</button>
    </div>

    <div id="messagesdiv" >
        <th:block th:replace="~{ requestmessage :: requestmessage}">
        </th:block>
    </div>
    <style>
        .documentgroup{
            width: 80%;
            display: inline-block;
            margin-bottom: 15px;
        }
        .textlabel{
            vertical-align: top;
        }
    </style>
    <script>
        function sendmessage() {
            if($('#newmessage').val()!=='') {
                if ($('#id').val() === '0') {
                    var result = confirm("You must SAVE request before sending message and push again button ADD MESSAGE. Save request?")
                    if (result) {
                        saveDocumentRequest()
                    }
                } else {
                    var result = confirm("Do you wish to post message?")
                    if (result) {

                        const XHR = new XMLHttpRequest();

                        XHR.addEventListener( "load", function( result ) {
                            $('#messagesdiv').html(result.target.response)
                            $('#newmessage').val('')
                             console.log(result)

                        } );
                        XHR.addEventListener( "error", function( event ) {
                            console.log( event );
                        } );

                        XHR.open( "POST", "send_request_message" );
                        var mparam = new FormData();
                        mparam.append("id", $('#id').val())
                        mparam.append("message", $('#newmessage').val())

                        XHR.send( mparam );

                    }
                }
            }
        }

        function saveDocumentRequest(){
            $('#content').val($('#contenttext').val())
            $('#answer').val($('#answertext').val())
                    const XHR = new XMLHttpRequest();

                    XHR.addEventListener( "load", function( result ) {
                        // console.log( result.target.response );
                        var res = JSON.parse(result.target.response)

                        if (res.errorlist !== ''){
                            $('#errordiv').text(res.errorlist);
                        } else {$('#errordiv').text("")}

                        if (res.id !== ''){
                            $('#id').val(res.id)
                        }

                        if (res.version !== ''){
                            $('#version').val(res.version)
                        }

                    } );
                    XHR.addEventListener( "error", function( event ) {
                        console.log( event );
                    } );

                    XHR.open( "POST", "save_request" );
                    XHR.send( new FormData(requestform) );

        }

        function openfiles(){

            if ($('#id').val()==='0')
            {
                var result = confirm("You must SAVE request before attaching files and push again button FILES. Save request?")
                if(result) {
                    saveDocumentRequest()                        }
            }
            else {
                location.href = "/files?id=" + $('#id').val()
            }
        }

        function taketowork(){

            const XHR = new XMLHttpRequest();

            XHR.addEventListener( "load", function( result ) {
                if(result.target.response!==""){

                    var res = JSON.parse(result.target.response)
                    if (res.id !== ''){
                        $('#executorid').val(res.id)


                        if(document.getElementById('executorid').length<=1){
                            let newOption = new Option(res.name, res.id);
                            $('#executorid').append(newOption);

                            newOption.selected = true;}
                    }
                }
                else {
                    alert("You have no permission to take in work requests!")
                }
            } );
            XHR.addEventListener( "error", function( error ) {
                console.log( error );
            } );

            XHR.open( "GET", "take_to_work" );
            XHR.send( new FormData() );

        }

    </script>
</div>
</body>
</html>