<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVICEDESK REQUESTS</title>
    <th:block th:replace="~{ commonhead :: commonhead}"></th:block>
</head>
<body>

<th:block th:replace="~{ topbar :: topbar}"></th:block>


<div id="requests" th:fragment="requests()">

    <th:block th:replace="~{ requestsFilterPanel :: requestsFilterPanel}"></th:block>

    <form id = "newrequestform" action="/edit_request" method="get" th:if="${newrequestbutton}==true">
        <input type="submit" class = "ui-button" value="New request" style="margin: 10px">
        <input type="hidden" name="id" value="0">
    </form>

    <div class="requestsbody" id="requestsdiv" >
        <th:block th:replace="~{ requeststable :: requeststable}">
        </th:block>
    </div>

    <script>

        $(document).ready(function (){

            $('#requeststable').DataTable();

        })

        function filterrequests() {

            const XHR = new XMLHttpRequest();

            XHR.addEventListener( "load", function( result ) {
                $('#requestsdiv').html(result.target.response)
                $('#requeststable').DataTable();
                 console.log(result)

            } );
            XHR.addEventListener( "error", function( event ) {
                console.log( event );
            } );

            XHR.open( "POST", "requests_filter" );
            XHR.send( new FormData(filterform) );

        }
    </script>

</div>
</body>
</html>