<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SERVICEDESK</title>
</head>
<body>
<div th:fragment="topbar()">
    <div class="aroundbar">
        <div class="navigation" style="margin-right: 100px;">
            <form name="logout" action="/logout" method="post">
               <div th:text="${authuser}"></div>
               <input type="submit" name="submit" value="Logout">
            </form>
        </div>
        <div class="navigation">
            <form id="navpanel" method="get">
                <input class = "ui-button" type="submit" name="requests" value="REQUESTS" formaction="/requests">
                <input class = "ui-button" type="submit" name="users" value="USERS" formaction="/users">
                <input class = "ui-button" type="submit" name="projects" value="PROJECTS" formaction="/user_projects">
                <input class = "ui-button" type="submit" name="customers" value="CUSTOMERS" formaction="/customer_projects">
                <input class = "ui-button" type="submit" name="email" value="EMAIL" formaction="/email_profile">
            </form>
        </div>
    </div>

    <style>
        .navigation {
            display: inline-block;
        }
        .aroundbar{
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: black;
            margin-bottom: 15px;
            padding-bottom: 5px;
        }
    </style>

    <script>
        $(document).ready(function (){
            const XHR = new XMLHttpRequest();

            XHR.addEventListener( "load", function( result ) {
                if (result.target.response!==""){
                $('#navpanel').remove()
                }
            } );
            XHR.addEventListener( "error", function( error ) {
            } );

            XHR.open( "GET", "is_enable_navigation" );
            XHR.send( new FormData() );
        })
    </script>
</div>
</body>
</html>